@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');

@import url('reset.css');

:root {
    /* SYSTEM FONTS */
    --system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol';

    /* COLORS */
    --white: #e6e6e6;
    --gray: #d5d5d5;
    --yellow-lt: #eed9c3;
    --yellow: #e3b261;
    --green: #a78347;
    --green-dk: #353535;
    --blue: #111827;

    --royal-red: #ff3232;
    --royal-blue: #1e4db1;

    --blue-tr: #111827dd;
    --white-tr: #ffffff44;
    --hightlight-off: #ffffff00;
    --hightlight-on: #ffffff88;
}

body {
    background: url('../assets/images/bg.webp') no-repeat var(--blue) center center;
    background-size: cover;
    background-blend-mode: multiply;
    object-fit: cover;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray);
    width: 100vw;
    height: 100vh;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 0 32px;
}

a {
    text-decoration: none;
    color: var(--yellow-lt);
}

a:hover {
    color: var(--red);
}

header {
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: var(--yellow);
}

h2 {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

h3 {
    letter-spacing: 0.1rem;
    color: var(--yellow);
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 16px;
    line-height: 2.6rem;
}
em {
    line-height: 1.6rem;
}
h4 {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: var(--yellow);
    font-weight: 700;
}

main {
    display: flex;
    gap: 32px;
    width: 100%;
    max-width: 800px;
}

.main-map {
    width: 100%;
    aspect-ratio: 1/1;
}

.row-map {
    padding: 1px;
    background: url('../assets/images/crosshair.svg') no-repeat center center;
    background-size: cover;
    border-radius: 6px;
}

.border-red {
    border: 1px solid var(--royal-red);
}

.border-blue {
    border: 1px solid var(--royal-blue);
}

.column-map {
    display: flex;
}

.cell {
    background: #ffffff06;
    overflow: visible;
    width: 100%;
    aspect-ratio: 1/1;
    /* margin: 1px; */
    /* opacity: 0.02; */
    cursor: pointer;
}

.cell:hover {
    opacity: 0.2;
    background: var(--green);
}

.hit {
    opacity: 0.2;
    background: var(--royal-red);
}

.miss {
    opacity: 0.2;
    background: var(--royal-blue);
}

.cockpit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 64px;
    min-width: 260px;
    text-align: left;
    padding-bottom: 4px;
}

.configure-ship {
    display: flex;
    flex-direction: column;
}

.current-ship {
    display: flex;
    margin-top: 32px;
    align-items: center;
}

.rotate {
    background: url('../assets/images/rotate.svg') no-repeat center center;
    width: 32px;
    height: 32px;
    margin-left: 8px;
    cursor: pointer;
    border-radius: 50%;
}

.rotate:hover {
    background-color: var(--white-tr);
}

.ship-lineup {
    text-align: left;
}

.ship-lineup li {
    margin-top: 16px;
    opacity: 0.4;
}

.ship {
    height: 37px;
    background: red;
    display: block;
}

.carrier {
    background: url('../assets/images/ship-carrier.svg') no-repeat left center;
    background-size: 100% auto;
    height: 100%;
    aspect-ratio: 5/1;
}

.battleship {
    background: url('../assets/images/ship-battleship.svg') no-repeat left center;
}

.cruiser {
    background: url('../assets/images/ship-cruiser.svg') no-repeat left center;
}

.submarine {
    background: url('../assets/images/ship-submarine.svg') no-repeat left center;
}

.destroyer {
    background: url('../assets/images/ship-destroyer.svg') no-repeat left center;
}

.vertical {
    transform: rotate(90deg);
    transform-origin: top left;
    margin-left: 100%;
}

.no-click {
    pointer-events: none;
}

.hidden {
    display: none;
}

footer {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin: 8px;
}

footer .odin {
    margin: 8px;
    width: 24px;
    height: 33px;
    background: url('../assets/images/logo-odin-colored.svg') no-repeat center center;
}
